
body{
     margin:0;
     padding: 0;
     background-image: url('images/ler2.jpg');
     

}
.l{
   background: white;
   opacity: 0.7;
 height: 110px;
 /* + */
  
   

}
#d8{
 

  /*margin-top: 10px;*/
 /* padding-top: 10px;*/
padding-left: 100px;
margin-left: 0px;

}
.page{
	overflow: auto;
	min-height: 540px;
  height: auto;
	background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  padding: 0;
}
#d1{
	margin-left: 238px;
	margin-top: -96px;
}

#d1 h3{
display: inline-block;
font-family: 'Montserrat', sans-serif;
font-size: 35px;
}
#d1 h4{
font-family: 'Open Sans', sans-serif;
display: inline-block;
font-size: 25px;
}


#d1 h5{
	font-size: 29px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 320px;
  /*margin-left: -50px;*/
  float: right;
  margin-right: -5px;
 margin-top: -72px;
}

.p1{
	background-color: #ffffff;
	overflow: -webkit-paged-x;
	min-height: 485px;
	height: auto;
	width: 950px;
	margin: 0 200px 20px;
	padding-top: 10px;
	opacity: 0.9;
	/*border-radius: 25px:
	border:white;*/
	border-radius: 15px;

}
.p2{
	/*background-color:  #6d0800;*/
	background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
	
	height: 50px;
	width: 950px;
	margin-top: -10px;
	padding-top: 0;
}

/************************* retour avec flesh nt3 lwst page 1 *********************/
.page .p1 ul{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 80px auto 10px;
	/*0margin: 199px auto 10px;*/
	padding: 0;
	display: flex;
}
.page .p1 ul li{
	list-style: none;
	width: 80px;
	height: 80px;
	background:#262626;
    margin: 0 10px;
    border-radius: 50%;
    transition: .5s;
}
.page .p1 ul li:hover{
	background :#6d0800;
}
.page .p1 ul li span{
	position: absolute;
	width: 20px;
	height: 20px;
	border: 4px solid #fff;
	transition: .5s;
}
.page .p1 ul li.next span{
	top:50%;
	right: 20%;
	transform: translateY(-50%) rotate(-45deg);
	border-left: none;
	border-top: none;
}
.page .p1 ul li.next:hover span{
	right: 16%;
}
.page .p1 ul li.next span:before{
	content: '';
	position: absolute;
	width:38px;
	height: 4px; 
	background: #fff;
	transform-origin: right;
	transform: rotate(45deg) translate(0px,25px) scaleX(0);
    transition: .5s;
}
.page .p1 ul li.next:hover span:before{
	transform: rotate(45deg) translate(0px,25px) scaleX(1);

}

/***********/
.page .p1 ul li.prev span{
	top:50%;
	left: 20%;
	transform: translateY(-50%) rotate(-45deg);
	border-right: none;
	border-bottom: none;
}
.page .p1 ul li.prev:hover span{
	left: 16%;
}
.page .p1 ul li.prev span:before{
	content: '';
	position: absolute;
	width:38px;
	height: 4px; 
	background: #fff;
	transform-origin: left;
	transform: rotate(45deg) translate(-2px,-1px) scaleX(0);
    transition: .5s;
}
.page .p1 ul li.prev:hover span:before{
	transform: rotate(45deg) translate(-2px,-1px) scaleX(1);

}

/***********   retour avec flesh nt3 jenb ***********************/
 /*.retour ul{
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin:0;
    padding: 0;
    display: flex;
}
 .retour ul li{
	list-style: none;
	width: 80px;
	height: 80px;
	background:#262626;
    margin: 0 10px;
    border-radius: 50%;
    transition: .5s;
}
 .retour ul li:hover{

	background :#0070ff;
}
 .retour ul li span{
	position: absolute;
	width: 20px;
	height: 20px;
	border: 4px solid #fff;
	transition: .5s;

}

 .retour ul li.prev1 span{
	top:50%;
	left: 20%;
	transform: translateY(-50%) rotate(-45deg);
	border-right: none;
	border-bottom: none;
}
 .retour ul li.prev1:hover span{
	left: 16%;
}
 .retour ul li.prev1 span:before{
	content: '';
	position: absolute;
	width:38px;
	height: 4px; 
	background: #fff;
	transform-origin: left;
	transform: rotate(45deg) translate(-2px,-1px) scaleX(0);
    transition: .5s;
}
 .retour ul li.prev1:hover span:before{
	transform: rotate(45deg) translate(-2px,-1px) scaleX(1);

}*/
/******************************* retour avec flesh nt3 jnb ************/
 .p3 ul{
	position: absolute;
	top: 60%;
	left: 0%;
	transform: translate(-50%,-50%);
	margin:0;
    padding: 0;
    display: flex;
    float: left;
    padding-left: -100px;
    margin-right:500px; 
    margin-left: 100px;


}
  .p3 ul li{
	list-style: none;
	width: 80px;
	height: 80px;
	background:#262626;
    margin: 0 10px;
    border-radius: 50%;
    transition: .5s;
}
  .p3 ul li:hover{

	background :#6d0800;
}
  .p3 ul li span{
	position: absolute;
	width: 20px;
	height: 20px;
	border: 4px solid #fff;
	transition: .5s;

}

 .p3 ul li.prov span{
	top:50%;
	left: 40%;
	transform: translateY(-50%) rotate(-45deg);
	border-right: none;
	border-bottom: none;
}
 .p3 ul li.prov:hover span{
	left: 30%;
}
 .p3 ul li.prov span:before{
	content: '';
	position: absolute;
	width:38px;
	height: 4px; 
	background: #fff;
	transform-origin: left;
	transform: rotate(45deg) translate(-2px,-1px) scaleX(0);
    transition: .5s;
}
 .p3 ul li.prov:hover span:before{
	transform: rotate(45deg) translate(-2px,-1px) scaleX(1);

}


/********************** avancement simple *************/
/**** pages ***/
.right{
	width: 25px;
	height: 25px;
	transition: .5s;
	float: left;
	box-shadow: -2px 2px 0 rgba(255,255,255,.5);
	cursor: pointer;
	margin-left: 80px;
	margin-top: 12px;
}

.right{
	transform: rotate(225deg);
}

.right:hover{

box-shadow: -2px 2px 0 rgba(255,255,255,1);

	}
.right.active{
	box-shadow: -2px 2px 0 /*rgba(33,156,243,1)*/rgba(255,255,255,1);
	
}


/**************** point d'intérrogation ******/


 


  /******* place du cours (partie1) ********/
  #partie1 {
  	font-weight: 100;
	position: relative;
	max-width: 900px;
	min-height: 315px;
	border:2px solid black;/*2px*/
	margin: 35px auto;
	padding: 30px;
	box-sizing: border-box;
      
}
#partie1:after{
	position: absolute;
	width: 50px;
	height: 50px;
	border-top: 2px solid black;/*2px*/
	border-left: 2px solid black;/*2px*/
	border-right: 0px solid black;
	border-bottom: 0px solid black;
	bottom: 100%;/* ltht*/
	left: 8%;/* lbo3d nt3 lmo3ayan*/
	margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-bottom: -24px;/* bch ytl3 fl itar */
    background: white;
}
/******************* place du cour (partie2)***/
#partie2 {
  font-weight: 100;
	position: relative;
	max-width: 900px;
	min-height: 315px;
	border:2px solid black;/*2px*/
	margin: 35px auto;
	padding: 30px;
	box-sizing: border-box;
	display: block;
      
}
#partie2:after{
	position: absolute;
	width: 50px;
	height: 50px;
	border-top: 2px solid black;/*2px*/
	border-left: 2px solid black;/*2px*/
	border-right: 0px solid black;
	border-bottom: 0px solid black;
	bottom: 100%;/* ltht*/
	left: 24.25%;/* lbo3d nt3 lmo3ayan*/
	margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-bottom: -24px;/* bch ytl3 fl itar */
    background: white;
}
/************place du cours (partie3) ***********/
#partie3 {

  	font-weight: 100;
	position: relative;
	max-width: 900px;
	min-height: 315px;
	border:2px solid black;/*2px*/
	margin: 35px auto;
	padding: 30px;
	box-sizing: border-box;
	display: block;
      
}
#partie3:after{
	position: absolute;
	width: 50px;
	height: 50px;
	border-top: 2px solid black;/*2px*/
	border-left: 2px solid black;/*2px*/
	border-right: 0px solid black;
	border-bottom: 0px solid black;
	bottom: 100%;/* ltht*/
	left: 40.5%;/* lbo3d nt3 lmo3ayan*/
	margin-left: -25px;
    content: '';
    transform: rotate(45deg);
    margin-bottom: -24px;/* bch ytl3 fl itar */
    background: white;
}
/************* place du cour (partie4)***/
#partie4 {
  	font-weight: 100;
	position: relative;
	max-width: 900px;
	min-height: 315px;
	display:none;
	border:2px solid black;/*2px*/
	margin: 35px auto;
	padding: 30px;
	box-sizing: border-box;
	display: block;
      
}
#partie4:after{
	position: absolute;
	width: 50px;
	height: 50px;
	border-top: 2px solid black;/*2px*/
	border-left: 2px solid black;/*2px*/
	border-right: 0px solid black;
	border-bottom: 0px solid black;
	bottom: 100%;/* ltht*/
	left: 58%;/* lbo3d nt3 lmo3ayan*/
	margin-left: -25px;
	content: '';
	transform: rotate(45deg);
	margin-bottom: -24px;/* bch ytl3 fl itar */
	background: white;
}

/************* place du cour (partie5)***/
#partie5 {
	font-weight: 100;
position: relative;
max-width: 900px;
min-height: 315px;
display:none;
border:2px solid black;/*2px*/
margin: 35px auto;
padding: 30px;
box-sizing: border-box;
display: block;
		
}
#partie5:after{
	position: absolute;
	width: 50px;
	height: 50px;
	border-top: 2px solid black;/*2px*/
	border-left: 2px solid black;/*2px*/
	border-right: 0px solid black;
	border-bottom: 0px solid black;
	bottom: 100%;/* ltht*/
	left: 75%;/* lbo3d nt3 lmo3ayan*/
	margin-left: -25px;
	content: '';
	transform: rotate(45deg);
	margin-bottom: -24px;/* bch ytl3 fl itar */
	background: white;
}
.none {
	display: none;
}
/********************** box */
@font-face {
  font-family: 'Baloo Chettan';
  src: url('fonts/Baloo_Chettan/BalooChettan-Regular.woff2') format('woff2'),
      url('fonts/Baloo_Chettan/BalooChettan-Regular.woff') format('woff'),
      url('fonts/Baloo_Chettan/BalooChettan-Regular.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}

.BoxResult {
  display: none; 
  position: fixed;  
  z-index: 5; 
  top: 30%;
  left: 30%;
  height: 157px;
  width: 500px;
  background-color: rgb(242, 242, 242);
  box-shadow: 5px 5px 15px #888888;
}

.BoxResult button {
  float: right;
  padding:0 25px;
  margin-top: 26px;
  margin-right: 15px;
  height:45px;
  width: auto;
  border:none;
  color:white;
}
.BoxResult button i{
	font-size:18px;
	margin-right: 5px;
}
.BoxResult button span{
	font-size:16px;
	margin-right: 5px;
}
.BoxResult button:hover {
  box-shadow: 5px 5px 15px #888888;
}
.result{
 font-family: 'Baloo Chettan';
 font-size:20px;
 margin-left:30px;
 padding: 20px 20px;
}


.block-div {
display: none;
height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 15%;
z-index: 3;
}

/**************************** button de lire le cours completement *******************/
.center{
	position : absolute;
	top: 92%;
	left: 25%;
	transform: translate(-50%,-50%);
	font-family:   arial;/*arial*/
;

}
.center a {
	display: inherit;
	width: 180px;/*150*/
	height: 50px;/*50*/
	color: #8A897D;
    font-size: 22px;
    background: transparent;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    text-transform: capitalize;
    z-index: 1;
    transition: .5s;
}
.center a:before,
.center a:after{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ff0;
	opacity: 0;
	transition: .3s;
	z-index: -1;
	overflow: hidden;
}
.center a:before{
	left: 0;
	box-shadow: -100px 0 0 #ff0;
}
.center a:after{
	right: 0;
	box-shadow: 100px 0 0 #ff0;
}
.center a:hover:before{
	left: calc(50% - 10px);
	opacity: 1;
	box-shadow: 30px 0 0 #ff0;

}
.center a:hover:after{
	right: calc(50% - 10px);
	opacity: 1;
	box-shadow: -30px 0 0 #ff0;

}
.center span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff0;
	z-index: -2;
	transform: scale(0);
	transition: .3s;
	opacity: 0;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0,0,0,.5);
}
.center a:hover span{
	opacity: 1;
    transform: scale(1);
    transition-delay: .3s;

}
.center a:hover{
	color: #262626;
    transition-delay: .3s;
}
/**************************************** buton de suivi le cour sous forme vd ****************/
.center1{
	position : absolute;
	top: 92%;
	left: 73.5%;
	transform: translate(-50%,-50%);
	font-family: arial;

}
.center1 a {
	display: inherit;
	width: 225px;
	height: 50px;
	color: #8A897D;
    font-size: 22px;
    background: transparent;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    text-transform: capitalize;
    z-index: 1;
    transition: .5s;
}
.center1 a:before,
.center1 a:after{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ff0;
	opacity: 0;
	transition: .3s;
	z-index: -1;
	overflow: hidden;
}
.center1 a:before{
	left: 0;
	box-shadow: -100px 0 0 #ff0;
}
.center1 a:after{
	right: 0;
	box-shadow: 100px 0 0 #ff0;
}
.center1 a:hover:before{
	left: calc(50% - 10px);
	opacity: 1;
	box-shadow: 30px 0 0 #ff0;

}
.center1 a:hover:after{
	right: calc(50% - 10px);
	opacity: 1;
	box-shadow: -30px 0 0 #ff0;

}
.center1 span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ff0;
	z-index: -2;
	transform: scale(0);
	transition: .3s;
	opacity: 0;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0,0,0,.5);
}
.center1 a:hover span{
	opacity: 1;
    transform: scale(1);
    transition-delay: .3s;

}
.center1 a:hover{
	color: #262626;
    transition-delay: .3s;
}