body {
    background-color: #EAEAEA;
}

@font-face {
    font-family: 'Baloo Chettan';
    src: url('fonts/Baloo_Chettan/BalooChettan-Regular.woff2') format('woff2'),
        url('fonts/Baloo_Chettan/BalooChettan-Regular.woff') format('woff'),
        url('fonts/Baloo_Chettan/BalooChettan-Regular.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Lato Light';
    src: url('fonts/Lato/Lato-Light.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('fonts/Lato/Lato-Regular.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}

/**** Navbar ****/
.algo-nav2 {
    height: 70px;
    padding: 0;
    background: #FDFDFD !important;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(189,188,197,0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(189,188,197,0.5);
    box-shadow: 0px 1px 3px 0px rgba(189,188,197,0.5);
    margin-bottom: 36px;
}
.algo-nav2 .collapse.show {
    background-color: #FDFDFD;
}
.algo-nav2 * {
    font-family: 'Baloo Chettan';
}

.algo-nav2 .navbar-brand {
    font-size: 30px;
}

.algo-nav2 .collapse ul li {
    position: relative;
    margin-right: 3rem;
}
.algo-nav2 .collapse ul li a {
    color: #6D56AE !important;
}

.algo-nav2 a.nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding: 0;
}
.algo-nav2 .collapse ul li.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #D23E54;
    position: absolute;
    bottom: -24px;
}

.algo-nav2 .navbutton {
    width: 86px;
    height: 40px;
    line-height: 40px;
}
@media (max-width: 991px) {
    .algo-nav2 .collapse {
        border-radius: 30px;
        padding: 30px;
        text-align: center;
        z-index: 10;
    }
    .algo-nav2 .collapse ul li {
        margin-right: 0;
        width: 200px;
        margin: auto;
    }

    .algo-nav2 .navbutton {
        margin: auto;
    }
}



/**** Course Intro ****/
.course-intro {
    background: #FDFDFD !important;
    padding: 20px;
    overflow: hidden;
}
.course-intro .contentdiv {
    margin-left: 40px;
    width: 485px;
}
.course-intro h1 {
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Baloo Chettan';
    color: #D23E54;
}
.course-intro p {
    font-family: 'Lato Light';
    font-size: 18px;
}

@media (max-width: 1200px) {
    .course-intro .imgdiv {
        margin: auto;
        float: none !important;
        text-align: center;
    }
    .course-intro .contentdiv {
        margin-left: 0;
        width: auto;
        text-align: center;
    }
    
}


/**** Lesson Cont ****/
.lessons-cont {
    margin-top: 36px;
    overflow: hidden;
    background-color: #FDFDFD;

}

.lessons-cont-header {
    height: 58px;
    padding: 20px;
}

.lessons-list {
    margin-top: 21px;
    padding: 0 53px;
    padding-bottom: 100px;
}
.lessons-list .item {
    padding: 8px 10px;
    height: 50px;
    line-height: 50px;
}
.lessons-list .item h2 {
    line-height: 34px;
    height: 100%;
    padding: 0;
    margin: 0;
}
.lessons-list .item.lesson { 
    border-bottom: 1px solid rgba(80, 74, 100, 0.2);
}
.lessons-list .item.chapter {
    background-color: rgba(189, 188, 197, 0.2);
}
.lessons-list .item.chapter h2 {
    font-family: 'Baloo Chettan';
    
}
.lessons-list .item.chapter .title {
    color: #504A64;
    font-size: 22px;
}
.lessons-list .item.chapter .float-right h2 {
    color: #BDBCC5;
    font-size: 18px;
}

.lessons-list .item.lesson {
    font-family: 'Lato Regular';
}

.lessons-list .item.lesson .title {
    color: #504A64;
    font-size: 16px;
}

.lessons-list .item.quiz {
    font-family: 'Lato Regular';
}


.lessons-list .item.quiz .title {
    color: #504A64;
    font-size: 16px;
}

.lessons-list .item.quiz .info {
    background-color: rgba(189, 188, 197, 0.2);
    border-radius: 5px;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    font-family: 'Baloo Chettan';
    font-size: 19px;
    color: #BDBCC5;

}

@media (max-width: 992px) {
    .lessons-list {
        padding: 0;
    }
}

@media (max-width: 450px) {
    .lessons-list .item.chapter .title {
        font-size: 17px;
    }
}
@media (max-width: 380px) {
    .lessons-list .item.chapter .float-right {
        display: none;
    }
}

/**** sidebar ****/
.sidebar {
    overflow: hidden;
    background-color: #FDFDFD;
    height: 538px;
    width: 100%;
    position: absolute;
    padding: 20px;
    font-family: 'Baloo Chettan';
}
.sidebar .info-item {
    overflow: hidden;
    margin-bottom: 20px;
}
.sidebar .info-item img {
    width: 80px;
    height: 80px;
}

.sidebar .info-item .info-details {
    margin-left: 15px;
}
.sidebar .info-item p {
    text-align: center;
    color: #504A64;
    font-size: 25px;
    line-height: 10px;
}
.sidebar .info-item h3{
    color: #D23E54;
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

.sidebar .info-label {
    width: 100%;
    background: #D23E54;
    color: white;
    text-align: center;
    padding: 6px;
    border-left: 5px solid #9E2F40;
    position: absolute;
    left: 0;
}
.sidebar .info-label h5 {
    font-size: 30px;
}

.sidebar_opener {
    transition: all .6s;
    color: white;
    background-color: #d23e54;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    top: 100px;
    right: 5px;
    z-index: 10;
    cursor: pointer;
    display: none;
}
.sidebar_opener i {
    line-height: 50px;
}

@media (max-width: 1200px) {
    .sidebar .info-item p {
        font-size: 20px;
    }
    .sidebar .info-item h3 { 
        font-size: 25px;
    }
    .sidebar .info-item img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 992px) { 
    .sidebar {
        height: 730px;
    }
    .sidebar .info-item {
        text-align: center;
    }
    .sidebar .info-item img {
        float: none !important;
    }
}

@media (max-width: 768px) { 
    .sidebar {
        transition: all .4s;
        z-index: 100;
        top: 0;
        right: 0;
        position: fixed;
        width: 200px;
        margin-right: -200px;
    }
    .sidebar.open {
        margin-right: 0;
    }
    .sidebar_opener {
        display: block;
    }
    .sidebar_opener .fa-angle-double-right {
        display: none;
    }
    .sidebar_opener.open {
        right: 200px;
    }
    .sidebar_opener.open .fa-angle-double-right {
        display: block;
    }

    .sidebar_opener.open .fa-angle-double-left {
        display: none;
    }
}


/**** Reusable ****/
.algo-bg-white {
    background: #FDFDFD !important;
}

.algo-main-color {
    color: #D23E54 !important;
}

.algo-secondary-color {
    color: #6D56AE !important;
}

.algo-h100p {
    height: 100%;
}

.algo-default-font {
    font-size: 18px;
    font-family: 'Baloo Chettan';
}
/**** buttons ****/
.algo-button-main, .algo-button-main:visited {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #D23E54;
    color: white !important;
    text-decoration: none;
}

.algo-button-main.--rounded {
    border-radius: 20px;
}

/**** checkbox ****/

.algo-checkbox-cont {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.algo-checkbox-cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.algo-checkbox-cont .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 8px;
}

/* On mouse-over, add a grey background color */
.algo-checkbox-cont:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .algo-checkbox-cont input:checked ~ .checkmark {
    background-color: #eee;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .algo-checkbox-cont input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .algo-checkbox-cont .checkmark:after {
    left: 10px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid #6D56AE;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }