body{
     margin:0;
     padding: 0;
     background-image: url('images/ler2.jpg');
     
  
     

}
.l{
   background: white;
   opacity: 0.7;
  height: 110px;
}
#d8{
padding-left: 100px;
margin-left: 0px;

}
.page{
  overflow: auto;
  height: auto;
	background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  padding: 0;
}
#d1{
     margin-left: 238px;
     margin-top: -96px;
}

#d1 h3{
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}
#d1 h4{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  font-size: 25px;
}
.p1{
	background-color: #ffffff;
	height: auto;
  overflow: -webkit-paged-x;
	width: 950px;
	padding-top: 10px;
  margin: 0 200px 20px;
	opacity: 0.9;
	border-radius: 15px;

}
.p2{
	background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
	height: 50px;
	width: 950px;
	margin-top: -10px;
	padding-top: 0;
}
/********************************************/
.p3 ul{
  position: absolute;
  top: 60%;
  left: 0%;
  transform: translate(-50%,-50%);
  margin:0;
    padding: 0;
    display: flex;
    float: left;
    padding-left: -100px;
    margin-right:500px; 
    margin-left: 100px;
}
  .p3 ul li{
  list-style: none;
  width: 80px;
  height: 80px;
  background:#262626;
    margin: 0 10px;
    border-radius: 50%;
    transition: .5s;
}
.p3 ul li:hover{
  background :#6d0800;
}
  .p3 ul li span{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  transition: .5s;

}

 .p3 ul li.prov span{
  top:50%;
  left: 40%;
  transform: translateY(-50%) rotate(-45deg);
  border-right: none;
  border-bottom: none;
}
 .p3 ul li.prov:hover span{
  left: 30%;
}
 .p3 ul li.prov span:before{
  content: '';
  position: absolute;
  width:38px;
  height: 4px; 
  background: #fff;
  transform-origin: left;
  transform: rotate(45deg) translate(-2px,-1px) scaleX(0);
    transition: .5s;
}
 .p3 ul li.prov:hover span:before{
  transform: rotate(45deg) translate(-2px,-1px) scaleX(1);

}


/********************** avancement simple *************/
/**** pages ***/
.right{
  width: 25px;
  height: 25px;
  transition: .5s;
  float: left;
  box-shadow: -2px 2px 0 rgba(255,255,255,.5);
  cursor: pointer;
  margin-left: 80px;
  margin-top: 12px;
}
/***************** check de l'envoie ***********/
.check{
  
}

.check .check-btn {
  position: relative;
  margin: 0;
  margin-left: 855px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid #000;
  border-radius: 50%;/*10px*/
  padding: -10px 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 90px;/* 40px*/
  background: linear-gradient(0deg, #000000, #0c0c0c);
  
}

.check ul:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.05);
  bottom: -50%;
  pointer-events: none;
  z-index: 1;

}
.check ul li{
position: relative;
list-style: none;
text-align: center;
margin: 15px;

}

.check ul li label{
  position: relative;
}
.check ul li label input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  cursor: pointer;

}
.check ul li label  .icon-box{
  float: right;
  margin-bottom: 20px;
  margin-right: 10px; 
  width: 50px;
  height: 50px;
  background: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000;
  border-radius: 10px;
  transition: 0.5s;

}
.check ul li label  .icon-box .fa{
   font-size: 30px;
   color: #222;
   transition: 0.5s;
}
.check ul li label input[type= "checkbox"]:hover ~ .icon-box{
   background: #000;
   border: 3px solid #fff;
   box-shadow: 0 0 10px rgba(33,156,243,.5),
               0 0 20px rgba(33,156,243,.5),
               0 0 30px rgba(33,156,243,.5),
               inset 0 0 10px rgba(33,156,243,1);
}
.check ul li label input[type= "checkbox"]:hover ~ .icon-box .fa{
  color: #fff;
  text-shadow: 0 0 10px rgba(33,156,243,1),
               0 0 10px rgba(33,156,243,1);
}
/******************** Question 1 *****************/
.Qst li{
  display: inline-block;
}
.Qst{
  margin:0;
  padding: 0;
  position: absolute;
  top: 52%;
  left: 50%;
  width:100%;
  transform: translate(-73%,-139%);
  
  text-align: center;
}
 input[type= "checkbox"]{
 position: relative;
 top: 10px;
 width: 28px;/*40*/
 height: 28px;
 -webkit-appearance:none;
 outline:none;
 transition: .5s;
}
input[type= "checkbox"]:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:4px solid #262626;
  box-sizing: border-box;
  transition: .5s;

}
input:checked[type= "checkbox"]:before{
  border-left: none;
    border-top: none;
    width: 15px;
    border-color:  rgba(33,156,243,1);
    transform: rotate(45deg) translate(5px, -10px);

}
label{
  font-family: sans-serif;

}
/********************* Question 2 ****************/
.Qst1 li{
  display: inline-block;
}
.Qst1{
  margin:0;
  padding: 0;
  position: absolute;
  top: 67%;
  left: 50%;
  width:100%;
  transform: translate(-73%,-139%);
  
  text-align: center;
}
 input[type= "checkbox"]{
 position: relative;
 top: 10px;
 width: 28px;/*40*/
 height: 28px;
 -webkit-appearance:none;
 outline:none;
 transition: .5s;
}
input[type= "checkbox"]:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:4px solid #262626;
  box-sizing: border-box;
  transition: .5s;

}
input:checked[type= "checkbox"]:before{
  border-left: none;
    border-top: none;
    width: 15px;
    border-color: rgba(33,156,243,1);
    transform: rotate(45deg) translate(5px, -10px);

}
label{
  font-family: sans-serif;

}
/* *************** box result ***********/
@font-face {
  font-family: 'Baloo Chettan';
  src: url('fonts/Baloo_Chettan/BalooChettan-Regular.woff2') format('woff2'),
      url('fonts/Baloo_Chettan/BalooChettan-Regular.woff') format('woff'),
      url('fonts/Baloo_Chettan/BalooChettan-Regular.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}



.BoxResult {
  display: none; 
  position: fixed;  
  z-index: 5; 
  top: 30%;
  left: 30%;
  height: 270px;
  width: 500px;
  background-color: rgb(242, 242, 242);
  box-shadow: 5px 5px 15px #888888;
}

.BoxResult button {
  float: right;
  padding: 13px 25px;
  margin-top: -10px;
  margin-right: 15px;
  height:45px;
  width: auto;
  border:none;
  color:white;
  font-size: 16px;
}
.BoxResult button i{
  font-size:15px;
  margin-left:7px;
}
.BoxResult button:hover {
  box-shadow: 5px 5px 15px #888888;
  
}
.result{
 font-family: 'Baloo Chettan';
 font-size:14px;
 margin-left:30px;
 padding-left: 20px;
 padding-top: 5px;
}
.content .R-box {
  font-family: 'Baloo Chettan';
  padding-left:58px;
  color: black;
}
.result i{
 font-size:16px;
 margin-right: 8px;
}

.block-div {
display: none;
height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 15%;
z-index: 3;
}