.password {
    font-family: sans-serif;
    background-color: #FDFDFD;
    width: 690px;
    height: 230px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 180px;
    padding: 30px 20px;
}

p {
    font-size: 18px;
    margin: 0;
    padding: 7px 0;
}

h1 {
    color: rgb(112, 112, 112,0.8);
    text-transform: capitalize;
    font-size: 30px;
    margin: 0;
}

.text {
    border: none;
    outline: none; 
    background: none;
    width: 100%;
    font-size: 16px;
    padding: 4px 0;
    margin: 4px 0;
    border-bottom: 1px solid rgba(80, 74, 100, 0.8);
    text-transform: capitalize;
}

.button {
    width: 130px;
    height: 35px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #D23E54;
    color: #ffffff;
    margin-top: 20px;
}

 .text:focus {
    border-bottom: 2px solid #D23E54;
 }