.log-in {
    font-family: sans-serif;
    background-color: #FDFDFD;
    width: 690px;
    height: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    padding: 0px 20px;
    text-transform: uppercase;
    color: rgb(112, 112, 112,0.8);
}

.log-in h1{
    font-size: 32px;
    padding-top: 25px;
    padding-left: none;
}

.text {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
}

.text input[type="text"]:focus,.text input[type="password"]:focus{
    padding:0;
    margin :0;
    border-bottom: 2px solid #504A64;
} 

.text input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 1px solid rgba(80, 74, 100, 0.8);
    text-transform: capitalize;
}

.button {
    width: 130px;
    height: 35px;
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: rgb(112, 112, 112,0.5);
    color: #ffffff;
}
.signup{
    background-color: #D23E54;
    color: #ffffff;
}
.btn {
    padding: 0 116px;
    margin-top: 9px;
}
p {
    margin-top: 10px;
    font-size: 15px;
}

.algo-nav2 .collapse ul li.active::after {
    display: block;
    width: 0;
    height: 0;
    background-color: none;
    position: absolute;
    bottom: none;
}